html {
  -webkit-user-select: auto;
  text-shadow: none;
}

body {
  min-height: 100%;
  padding: 10px 0 10px;
  box-sizing: border-box;
}

#wrapper {
  position: relative;
  z-index: 2;
  max-width: 960px;
  min-height: 100%;
  margin: 0 auto;
  padding: 20px;
}

section {
  position: relative;
  overflow: hidden;
  margin: 0 0 40px;
}

.right {
  float:right;
}

 h1 {
  font-size: 2em;
}

#wrapper header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(0, 137, 175)), color-stop(100%,rgb(0, 120, 148)));
}

#wrapper header h1 {
  margin: 20px;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.772549) 0px 1px 0px;
}

#index {
  margin-top: 50px;
}

table {
  width: 100%;
}
