<!DOCTYPE html>
<html ng-app="soundly">
<head>
  <!-- Spotify CSS files -->
  <link rel="stylesheet" type="text/css" href="sp://resources/css/eve.css">
  <link rel="stylesheet" type="text/css" href="sp://resources/css/api.css">
  <link rel="stylesheet" type="text/css" href="sp://resources/css/player.css">
  <link rel="stylesheet" type="text/css" href="sp://resources/css/list.css">

  <!-- Project CSS files -->
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <div id="wrapper">
    <header>
      <h1>Soundly</h1>
    </header>

    <div id="index" class="section">
      <input type="text" id="search">
      <button id='check'>Check current artist</button>
      <table id='tracks'></table>
    </div>

    <div id="lyrix" class="section" style="display: none;">
      <h2><span id="artist"></span> &mdash; <span id="title"></span></h2>
      <div id="text"></div>
    </div>

    <div id="playlist" class="section" style="display: none;" ng-controller="PlaylistController">
      <table>
        <tr ng-repeat="track in tracks">
          <td>{{track.name}}</td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Templates -->
  <script type='text/template' id="track-item">
    <tr>
      <td><%= track.name %></td>
      <td><%= track.album %></td>
      <td><%= track.artist %></td>
      <td><%= new Date(track.uts * 1000) %></td>
    </tr>
  </script>

  <!-- Project JS files -->
  <script src="/js/angular.min.js"></script>
  <script src="/js/jquery-2.0.3.min.js"></script>
  <script src="/js/underscore-min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/api.js"></script>
  <script src="/js/tabs.js"></script>
  <script src="/js/flow.js"></script>
  <script src="/js/soundly.js"></script>
  <script src="/js/lyrix.js"></script>
</body>
</html>
