<!DOCTYPE html>
<html>
<head>
  <!-- Spotify CSS files -->
  <link rel="stylesheet" type="text/css" href="sp://resources/css/eve.css">
  <link rel="stylesheet" type="text/css" href="sp://resources/css/api.css">
  <link rel="stylesheet" type="text/css" href="sp://resources/css/player.css">
  <link rel="stylesheet" type="text/css" href="sp://resources/css/list.css">

  <!-- Project CSS files -->
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <div id="wrapper">
    <header>
      <h1>Soundly</h1>
    </header>

    <div id="index" class="section">
      <input type="text" id="search">
      <button id='check'>Check current artist</button>
      <table id='tracks'></table>

    </div>
  </div>

  <!-- Templates -->
  <script type='text/template' id="track-item">
    <tr>
      <td><%= track.name %></td>
      <td><%= track.album %></td>
      <td><%= track.artist %></td>
      <td><%= new Date(track.uts * 1000) %></td>
    </tr>
  </script>

  <!-- Project JS files -->
  <script src="/js/jquery.js"></script>
  <script src="/js/underscore.js"></script>
  <script src="/js/api.js"></script>
  <script src="/js/soundly.js"></script>
</body>
</html>
