<!DOCTYPE html>
<html ng-app="soundly">
<head>
  <!-- Spotify CSS files -->
  <link rel="stylesheet" type="text/css" href="sp://resources/css/eve.css">
  <link rel="stylesheet" type="text/css" href="sp://resources/css/api.css">
  <link rel="stylesheet" type="text/css" href="sp://resources/css/player.css">
  <link rel="stylesheet" type="text/css" href="sp://resources/css/list.css">

  <!-- Project CSS files -->
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <div id="wrapper">
    <header>
      <h1>Soundly</h1>
    </header>

    <div id="index" class="section" ng-controller="ScrobblesController">
      <input type='text' ng-model='query' ng-change='search()'>
      <table id='tracks'>
        <tr ng-repeat="track in scrobbles">
          <td>{{track.name }}</td>
          <td>{{track.album }}</td>
          <td>{{track.artist }}</td>
          <td>{{track.uts * 1000 | date:'yyyy-MM-dd HH:mm'}}</td>
        </tr>
      </table>
    </div>

    <div id="lyrix" class="section" style="display: none;">
      <h2><span id="artist"></span> &mdash; <span id="title"></span></h2>
      <div id="text"></div>
    </div>

    <div id="playlist" class="section" style="display: none;" ng-controller="PlaylistController">
      <table>
        <tr ng-repeat="track in tracks">
          <td><strong>{{track.artist}}</strong></td>
          <td>{{track.name}}</td>
        </tr>
      </table>
    </div>

    <div id="activity" class="section" style="display: none;">
      <div ng-controller="RecentActivityController">
        <svg class="chart"></svg>
      </div>

      <div ng-controller="AllActivityController">
        <div ng-bind-html="svg"></div>
      </div>
    </div>
  </div>

  <!-- Dependencies -->
  <script src="/js/lib/jquery/dist/jquery.min.js"></script>
  <script src="/js/lib/angular/angular.min.js"></script>
  <script src="/js/lib/underscore/underscore-min.js"></script>
  <script src="/js/lib/d3/d3.min.js"></script>

  <!-- Project JS files -->
  <script src="/js/app.js"></script>
  <script src="/js/tabs.js"></script>
  <script src="/js/flow.js"></script>
  <script src="/js/lyrics.js"></script>
  <script src="/js/activity/all.js"></script>
  <script src="/js/activity/recent.js"></script>
</body>
</html>
