table {
  border-collapse: collapse;
  background: #EAF2CF;
}

table, th, td {
  border: 1px solid #98bf21;
}

tr:nth-child(odd) td {
  background: #ffffff;
}

table {
  width: 100%;
}
td {
  width: 25%;
}
