table {
  border-collapse: collapse;
  background: #EAF2CF;
}

table, th, td {
  border: 1px solid #98bf21;
}

tr:nth-child(odd) td {
  background: #ffffff;
}

table {
  width: 100%;
}

.span24 {
  width: 100%;
}

.span6 {
  width: 25%;
}

.span1 {
  width: 4.16666666666667%;
}
